<%- include("./partials/header") %>
<div class="row" id = "content">
        <div class="col-md-12">
            <form class="form-signin" action="/blogs" method="POST">
                <h1 class="h3 mb-3 font-weight-normal text-center">New Blog !</h1>
                <label for="Title" class="sr-only"><Title></Title></label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Title" name="blog[title]" required autofocus>
                <label for="image" class="sr-only">Image</label>
                <input type="text" id="inputPassword" class="form-control" placeholder="Image Url" name="blog[image]" required>
                <label for="blog content" class="sr-only">Blog Content</label>
                <textarea id="inputPassword" class="form-control" name="blog[body]" required></textarea>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
            </form>
        </div>
    </div> 

<%- include("./partials/footer") %>
